/* Write your CSS here */
.latest-match-container {
  background-color: #0f172a;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.match-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.match-date,
.match-venue,
.match-result {
  font-size: 14px;
}

.team-logo {
  width: 100px;
}

.separator {
  margin: 15px 0;
  border-color: #475569;
}

.match-bottom p {
  margin: 5px 0;
}
